{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Administrarseminario:Eliminar{% endblock %}

{% block body %}
<h1>Welcome to the Administrarseminario:Eliminar page</h1>
{% endblock %}
