{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Agregaractividadcronograma{% endblock %}

{% block body %}
<h1>Welcome to the Desarrollarproduccionintelectual:Agregaractividadcronograma page</h1>
{% endblock %}
