{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Agregarbibliografia{% endblock %}

{% block body %}
<h1>Welcome to the Desarrollarproduccionintelectual:Agregarbibliografia page</h1>
{% endblock %}
