
{%for usuario in temaUsuario %}
<a href="{{ path('gs_proyectos_desarrollarproduccionintelectual_vistaperfilusuario',{'id':usuario.usuario.user.id})}}">{{ usuario.usuario.primernombre }} {{ usuario.usuario.primerapellido }}</a> &nbsp; 
{% endfor %}