{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Buscar{% endblock %}

{% block body %}
<h1>Welcome to the Desarrollarproduccionintelectual:Buscar page</h1>
{% endblock %}
