{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Buscarbibliografia{% endblock %}

{% block body %}
<h1>Welcome to the Desarrollarproduccionintelectual:Buscarbibliografia page</h1>
{% endblock %}
