{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Eliminaractividadcronograma{% endblock %}

{% block body %}
<h1>Welcome to the Desarrollarproduccionintelectual:Eliminaractividadcronograma page</h1>
{% endblock %}
