{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Eliminarbibliografia{% endblock %}

{% block body %}
<h1>Welcome to the Desarrollarproduccionintelectual:Eliminarbibliografia page</h1>
{% endblock %}
