{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Desarrollarproduccionintelectual:Modificarbibliografia{% endblock %}

{% block body %}
<h1>Welcome to the Desarrollarproduccionintelectual:Modificarbibliografia page</h1>
{% endblock %}
