{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Administrarrecurso:Eliminar{% endblock %}

{% block body %}
<h1>Welcome to the Administrarrecurso:Eliminar page</h1>
{% endblock %}
