{% extends "::contenidos.html.twig" %}

{% block title %}Grupo Simon: Error{% endblock %}

{% block titulo %}  
<h1>Error</h1>
{% endblock %}

{% block submenuderecho %}    

{% endblock %}

{% block submenuizquierdo %}  

{% endblock %}

{% block contenido %}
<div class="jumbotron">
  <h1>Atención!</h1>
  <p>Ocurrio un error.</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="javascript:window.history.back();">Intentarlo Nuevamente</a></p>
</div>

{% endblock %}

{% block javascripts %}

{% endblock %}