{% extends "::contenidos.html.twig" %}
{% block title %}Grupo Simon: Temas Ofertado{% endblock %}

{% block titulo %}  
<h1>Temas Ofertado</h1>
{% endblock %}
{% block contenido %}
<div style="width:700px; height:600px; overflow: scroll;">
<h2>{{ tema.titulo }}</h2>
<dl class="dl-horizontal">
    <dt>Tiempo estimado:</dt>
    <dd><kbd>{{tema.tiempoestimado}}</kbd> meses.</dd>
    <dt>Fecha de publicación:</dt>
    <dd>{{tema.fecharegistro | date('d-m-Y')}}</dd>
    <dt>Descripción:</dt>
    <dd>
{{ render(controller('GSContenidosBundle:Produccionintelectual:Decodificardescripciontema', { 'descripcion': tema.descripcion })) }}
</dd>
</dl>
</div>
{% endblock %}
{% block javascripts %}

{% endblock %}
