
 <table class="table table-hover table-condensed table-striped">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    Titulo
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Fecha Registro
                </th>
            </tr>
        </thead>
        <tbody>
        {%for tema in temas%}
            <tr>
                <td>
                    <input type="radio" name="radioTema" id="radioTema" value="{{ tema.idtema }}">

                </td>
                <td>
                {{ tema.titulo }}
                </td>
                <td>

                {%if tema.estado %}
                    Disponible
                 {%else%}
                    No Disponible
                 {%endif%}
                </td>
                <td>
                {{ tema.fecharegistro | date('M-Y')}}
                </td>
            </tr>
        {%endfor%}
        </tbody>

    </table>
