{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Administrarproduccionintelectual:Buscar{% endblock %}

{% block body %}
<h1>Welcome to the Administrarproduccionintelectual:Buscar page</h1>
{% endblock %}
