{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Administrarproduccionintelectual:Eliminar{% endblock %}

{% block body %}
<h1>Welcome to the Administrarproduccionintelectual:Eliminar page</h1>
{% endblock %}
