{% extends "::base.html.twig" %}

{% block title %}GSProyectosBundle:Administrarproduccionintelectual:Modificar{% endblock %}

{% block body %}
<h1>Welcome to the Administrarproduccionintelectual:Modificar page</h1>
{% endblock %}
